scene {
  width: 1280px;
  height: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: black;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}


dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-align: center;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 70%;
}

speech {
  text-align: center;
  position: absolute;
  top: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  border: solid 3px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.747);
  width: 50%;
  height: 20vh;

  font-size: 20px;
  padding: 10px;
  display: none;

}

speech name {
  display: block;
  margin-bottom: 8px;
  color: rgb(0, 195, 202);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

speech content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: rgb(255, 255, 255);


}

.choices {

  padding: 1px;
  border-style: ridge;
  border-radius: 5px;
  border-width: 10px;
  border-color: #924949;
  top: 20vw;

}



.choices button {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  height: 40px;
  width: 150px;
  background-color: rgb(74, 73, 85);



}


.choices :hover {
  cursor: pointer;
  background-color: #924949;
}


.answers {
  padding: 1px;
  border-style: ridge;
  border-radius: 5px;
  border-width: 10px;
  border-color: #924949;
  top: 20vw;


}


.answers button {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;

  background-color: rgb(74, 73, 85);


}


.answers :hover {
  cursor: pointer;
  background-color: #924949;
}

/*Inventar*/
dialog[type="inventory"] {
  color: rgb(203, 253, 255);
  width: 50%;
  border-style: ridge;
  border-radius: 5px;
  background-color: rgb(74, 73, 85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

dialog[type="inventory"]>ul {
  display: list-item;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

dialog[type="inventory"]>ul>li {
  width: 40vw;
  height: 10vw;
  list-style-type: circle;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*GameMenu*/


dialog[class="gameMenu"] {
  background-color: transparent;
  border: none;

}


dialog.credits {
  color: white;
  background-image: none;
  background-color: rgb(74, 73, 85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.gameMenu {
  position: absolute;
  top: 0vw;
}

.gameMenu button {
  top: 0px;
  display: inline-flex;
  align-items: center;
  appearance: none;
  background-color: rgb(74, 73, 85);
  border-style: ridge;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 32px;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-align: center;
  margin: 0.1vw;
  border-color: white;
}



button:hover {

  transform: translateY(-2px);
  cursor: pointer;
  background-color: #924949;
}

/*Novel Page*/

.novelPage{
  background-color: #924949;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: white;
  border-style: ridge;
  color: white;
}